body {
    background-color: slategray;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: .65;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 5px;
}

.fa-github {
    background: #2c4762;
    color: white;
    margin-left: 5px;
}

#copyright {
    text-align: center;
}

#social-media {
    text-align: center;
}

h3 {
    text-align: center;
}

#e_mail {
    text-align: center
}

.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/images/jumbotron/nyt-background.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .display-4 {
    font-family: 'Diplomata SC', cursive;
    color: slategray;
    text-decoration: underline;
    font-weight: 565;
    background-color: black;
    margin: 0;
} */

.lead {
color: tan;
font-weight: 580;
background-color: black;
margin: 0;
}

/* .my-4 {
    color: red;
    font-weight: 900;
    background-color: black
} */